[folders]
# This is the folder where training CSV files are located
csv_files_folder = ../../SUBARU_OUTBACK
# This is the folder where mnodels are stored
models_folder = ../models
# This is the folder where output metrics are written
output_folder = output
# Filename containing metric scores - will be stored within the 'output_folder'
scores_filename = "analysis_scores.csv"

[data]
# name of the column in the CSv file that contains a timestamp
time_column = time
# Names of the columns that are redundant / confuusing / should not be used
columns_to_remove = Steer_Error_1, Steer_Error_2, name, log_name, addr, fileID

[trainer]
# Percentage of data to be used for training (remaining for testing)
tt_split= 0.7
# name of the column in the CSv file that contains the label
label_column = Steer_Warning
# True if models should be learned with a notion of system evolution i.e., keeping track of past data
use_timeseries = True
# True if supervised (they use data+label while training) models should be used
supervised = False

[algs]
# Supervised algs to be used, will be parsed in the Classifier.choose_classifier function
sup_algs = DT, NB, LDA, RF, CBoost, XGB
# Unsupervised algs to be used, will be parsed in the Classifier.choose_classifier function
uns_algs = MCD, HBOS, CBLOF, IForest, CBoost(HBOS)

[random]
rng_seed = 23
rng_state = 42

[debug]
# True if debug information has to be shown
verbose = True
# True if learned models should be stored in the dedicated folder
store_models = True
# True if test results should be printed in files and not just shown at console
print_scores = True

[test]
# Folder containing CSVs used for testing
test_csv_folder = ../SUBARU_OUTBACK_test
# Folder to write CSVs containing data+label+predicted labels
out_dataframes_folder = "output/dataframes"
# True if predictions should be printed alongside data read from CSVs in a new CSV
print_predictions = True